extends layout

block content
  h1 If you want to contact me...
  section.css-table
    section.three-column
      section.cell
        h2
          p Email:
        h3
          a(href="mailto:victor.istratii@faf.utm.md") victor.istratii@faf.utm.md
      section.cell
        h2
          p Github:
        h3
          a(href="https://github.com/VictorIstratii151") VictorIstratii151
      section.cell
        h2
          p Facebook
        h3
          a(href="https://www.facebook.com/victor.istratii") Лес Зеленый