extends layout

block content
  h1= title
  h2 Welcome to #{title}
  section.css-table
    section.two-column
      section.cell
        h3 Who am I?
          p Hi there. My name is Victor Istratii, I am a student at UTM, FAF-151 group.
        p This is the homepage of my first site, so welcome and make yourself at home! I am very inexperienced with front end development, however my knowledge in back end is low too. As I expected, on the Internet there is very little information about getting started with node.js back end. I learned that there is a multitude of different frameworks for node, which should be used one with another, and this "plagues" the development process, as I think.
      section.cell
        p It was pretty difficult for me to find relevant information on Google, cause I was unable to find anything consistent about the full process of developing web-applications. Every site just tried to sell me "GREAT LESSONS AND BOOKS ABOUT HOW TO BECOME A GREAT PROGRAMMER IN 2 HOURS AND LEARN HOW TO MAKE SUPER SITES BY THE FLICK OF A FINGER". This was very annoying and I was raging. I got to the point that I had to google "HOW TO MAKE A SITE WITH NODE.JS". That's what happens when you don't know what to search. Thankfully I found some resources where the process was described for dummies.



